<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000_10_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,452},{194,164}}</string>
                <key>offset</key>
                <string>{-53,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,176},{194,164}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_10_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{140,146}}</string>
                <key>offset</key>
                <string>{-88,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,193},{140,146}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_10_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,508},{186,152}}</string>
                <key>offset</key>
                <string>{-66,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,182},{186,152}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_10_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,316},{206,134}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,199},{206,134}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_11_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,322},{202,158}}</string>
                <key>offset</key>
                <string>{-64,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,176},{202,158}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_11_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{208,154}}</string>
                <key>offset</key>
                <string>{-90,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,181},{208,154}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_11_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{192,160}}</string>
                <key>offset</key>
                <string>{-31,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,179},{192,160}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_11_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,322},{192,156}}</string>
                <key>offset</key>
                <string>{-31,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,178},{192,156}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_20_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,164},{206,150}}</string>
                <key>offset</key>
                <string>{-84,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,184},{206,150}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_20_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{204,154}}</string>
                <key>offset</key>
                <string>{-76,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,185},{204,154}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_30_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,662},{158,164}}</string>
                <key>offset</key>
                <string>{-98,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,182},{158,164}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_30_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,480},{186,182}}</string>
                <key>offset</key>
                <string>{-74,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,177},{186,182}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_40_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,160}}</string>
                <key>offset</key>
                <string>{-64,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,174},{216,160}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_40_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,160}}</string>
                <key>offset</key>
                <string>{-63,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,174},{216,160}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_40_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{216,158}}</string>
                <key>offset</key>
                <string>{-61,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,176},{216,158}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_40_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{216,158}}</string>
                <key>offset</key>
                <string>{-60,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,176},{216,158}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_40_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,162},{216,158}}</string>
                <key>offset</key>
                <string>{-60,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,176},{216,158}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_40_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,162},{216,158}}</string>
                <key>offset</key>
                <string>{-61,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,176},{216,158}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_50_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,354},{190,152}}</string>
                <key>offset</key>
                <string>{-71,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,175},{190,152}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>10000_50_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,144},{208,144}}</string>
                <key>offset</key>
                <string>{-57,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,184},{208,144}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10000_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0fa7d4d555867dcc95f731a2b02879:2/2$</string>
            <key>textureFileName</key>
            <string>10000_1.png</string>
        </dict>
    </dict>
</plist>
